:root{
    /*banana yellow :P*/
    --banana-yellow: #ffe135;
}
body{
    background: var(--banana-yellow);
    margin-right: 200px;
    margin-left: 200px;
    height: 90vh;
}

input {
    margin-top: 30%;
    margin-left: 65%;
    height: 35px;
    width: 180px;
    padding-left: 100px;
}

button{
    background: #e7feff;
    height: 40px;
    width: 150px;
}

#keyboard{
    width: 1000px;
    margin-top: 100px;
}

#keyboard ul{
    display: flex;
    list-style-type: none;
    justify-content: center;
    align-items: center;
    position: relative;
}

#keyboard ul li {
    height: 70px;
    width: 70px;
    border-radius: 10px 20px 15px 15px;
    margin-left: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    font-family: monospace;
    font-size: 22px;
    overflow: hidden;
    border-radius: 1px;
    background: #ffe135;
    box-shadow:  8px 8px 16px #f0d432,
                -8px -8px 16px #ffef38;

    -webkit-transition: all 0.6s;
	-moz-transition: all 0.6s;
	transition: all 0.6s ease;
    position: relative;
    cursor: pointer;
}

#keyboard ul li:hover{
    background: #efd439;
}

.keypress{
    animation: keyPressAni 1s ease;
}

@keyframes keyPressAni {
    50% {
        background-color: #edd131;
        transform: perspective(1200px) translateZ(-90px);
    }
}

#spaceBar li{
    padding-left: 130px;
    padding-right: 130px;
    margin-top: 10px;
}
 
#keyboard ul li.icon{
    border: none;
}

.title{
    font-size: 42px;
    padding: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 100px 0;
    font-family: 'Protest Revolution', sans-serif;
}